<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <%- include('../partials/head'); %>
  </head>
  
  <body class>
    <header>
      <%- include('../partials/header'); %>
      <link rel="stylesheet" type="text/css" href="css/app.css">
    </header>
    <div >
      <div class="card">
        <div class="card-body">
          <script src="css/circle-progress.min.js" type="module"></script>
          <div class="row">
            <div class="col-sm-6 d-flex justify-content-center">
              <circle-progress id="circle-progress" value="0" max="360"></circle-progress>
            </div>
            <div class="col-sm-2">
              <!-- Add some somesing here -->
            </div>
            <div class="col-sm-4 d-flex justify-content-center">
              <div>
                <div class="row mb-1 mt-1">
                  <button class="btn btn-danger btn-lg invisible" id="btnStop" type="button">СТОП</button>
                </div>
                <div class="row mb-1 mt-1">
                  <div class="col">
                    <label id="lb-product-counter" class="fs-5 fw-bold mb-0">Кіл-ть:</label>
                  </div>
                  <div class="col text-end">
                    <label id="product-counter" class="fs-5 fw-bold mb-0">1122</label>
                  </div>
                </div>
                <div id="modes-switcher" class="row mb-1 mt-3">
                  <% for(var i = 0; i < modes.length; i++) { %>
                    <div class="row mb-1 mt-1">
                      <input type="radio" class="btn-check" name="radio-auto-mode" id=<%= modes[i]["id"] %> autocomplete="off">
                      <label id=<%= "lb-"+modes[i]["id"] %> class="btn <%= modes[i]["class"] %> btn-lg" for=<%= modes[i]["id"] %>><%= modes[i]["name"] %></label>
                    </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Radio -->        
        <div class="col-sm-6">
          <!-- <h4>Radio Buttons Left</h4> -->
          <div class="row mx-1 my-1">
            <input type="radio" class="btn-check" name="radio-operation" id="operation1" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg" for="operation1" id="lRadio1">Одиничний цикл</label>
          </div>
          <div class="row mx-1 my-1">
            <input type="radio" class="btn-check" name="radio-operation" id="operation2" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg" for="operation2" id="lRadio2">Подача в наладці</label>
          </div>
          <div class="row mx-1 my-1">
            <input type="radio" class="btn-check" name="radio-operation" id="operation3" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg" for="operation3" id="lRadio3">Мотор шпінделя</label>
          </div>
          <div class="row mx-1 my-1">
            <input type="radio" class="btn-check" name="radio-operation" id="operation4" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg" for="operation4" id="lRadio4">Скидання механізмів</label>
          </div>
          <div class="row mx-1 my-1">
            <input type="radio" class="btn-check" name="radio-operation" id="operation5" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg" for="operation5" id="lRadio5">Дозов. змазка</label>
          </div>
          <div class="row mx-1 my-1">
            <input type="radio" class="btn-check" name="radio-operation" id="operation6" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg" for="operation6" id="lRadio6">Відведення інструменту</label>
          </div>
          <div class="row mx-1 my-1">
            <input type="radio" class="btn-check" name="radio-operation" id="operation7" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg" for="operation7" id="lRadio7">Цикл завантаження</label>
          </div>
          <div class="row mx-1 my-1">
            <input type="radio" class="btn-check" name="radio-operation" id="operation8" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg" for="operation8" id="lRadio8">Цикл вигрузки</label>
          </div>
        </div>
        
        <div class="col-sm-6">
          <!-- <h4>Radio Buttons Right</h4> -->
          <div class="row mx-1 my-1">
            <input type="radio" class="btn-check" name="radio-operation" id="operation9" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg" for="operation9" id="lRadio9">Обкатка</label>
          </div>
          <div class="row mx-1 my-1">
            <input type="radio" class="btn-check" name="radio-operation" id="operation10" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg" for="operation10" id="lRadio10">Вигружач</label>
          </div>
          <div class="row mx-1 my-1">
            <input type="radio" class="btn-check" name="radio-operation" id="operation11" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg" for="operation11" id="lRadio11">Виштовхувач</label>
          </div>
          <div class="row mx-1 my-1">
            <input type="radio" class="btn-check" name="radio-operation" id="operation12" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg" for="operation12" id="lRadio12">Патрон шпінделя</label>
          </div>
          <div class="row mx-1 my-1">
            <input type="radio" class="btn-check" name="radio-operation" id="operation13" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg" for="operation13" id="lRadio13">Завантажувач</label>
          </div>
          <div class="row mx-1 my-1">
            <input type="radio" class="btn-check" name="radio-operation" id="operation14" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg" for="operation14" id="lRadio14">Заштовхувач</label>
          </div>
          <div class="row mx-1 my-1">
            <input type="radio" class="btn-check" name="radio-operation" id="operation15" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg" for="operation15" id="lRadio15">Завантажувач</label>
          </div>
          <div class="row mx-1 my-1">
            <input type="radio" class="btn-check" name="radio-operation" id="operation16" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg" for="operation16" id="lRadio16">Підвод до шпінделя</label>
          </div>
          <div class="row mx-1 my-1">
            <input type="radio" class="btn-check" name="radio-operation" id="operation17" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg" for="operation17" id="lRadio17">Вхідний поток</label>
          </div>
          <div class="row mx-1 my-1">
            <input type="radio" class="btn-check" name="radio-operation" id="operation18" autocomplete="off">
            <label class="btn btn-outline-primary btn-lg" for="operation18" id="lRadio18">Відсікач</label>
          </div>
        </div>
        <!-- Radio end -->
      </div>
      <div id="state-area" class="alert alert-light" role="alert">
        A simple warning alert—check it out!
      </div>
    </div>
    
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
    <script src="../js/lac.js" defer></script>
    <script>
     /* window.addEventListener("DOMContentLoaded", (event) => {
      *   const el = document.getElementById('btnOpenDoor');
      *   if (el) {
      *     el.addEventListener('click', function () {
      *       scdAction('{{ url_for("home_blueprint.open_door") }}');
      *     });
      *   }
      * }); */
    </script>
  </body>
</html>
